.header{
    display: flex;
    width: 2000px;
    height: 300px;
    flex: 1;
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FAF8;
}
.header > .headerlogo1{
    align-items: center;
}